@tailwind base;
@tailwind components;
@tailwind utilities;

# Ensure the html, body, and root elements take up the full height of the viewport
html, body, #root {
  height: 100%;
}

# Set the body to use flexbox layout and arrange children in a column
body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}